# {{.PluginNameTitleCase}} Plugin

## Описание

{{.Description}}

## Автор

{{.Author}}

## Лицензия

{{.License}}

## Использование

{{- if .Command}}
Плагин предоставляет команду `{{.Command}}`.

### Примеры

```bash
tg {{.Command}}
```
{{- end}}

## Дополнительная информация

Добавьте сюда дополнительную документацию о плагине.
