package wasm

import "{{.ModuleName}}/core/data"

// ExecuteRequest содержит аргументы для Execute.
type ExecuteRequest struct {
	Request data.Storage `json:"request"`
}

// ExecuteResponse содержит результат выполнения Execute.
type ExecuteResponse struct {
	Error    string       `json:"error,omitempty"`
	Response data.Storage `json:"response,omitempty"` // data.Storage напрямую
}
