package contracts

import (
	"context"

	"{{.moduleName}}/contracts/dto"
)

// @tg http-prefix=api/v1
// @tg jsonRPC-server log metrics
type {{.serviceNameCamel}} interface {
	SomeMethod(ctx context.Context) (data dto.SomeStruct, err error)
}
